*,
*::before,
::after {
    margin: 0;
    padding: 0
}

body {
    background-color: rgb(15, 15, 43);
    color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    background-color: rgb(15, 15, 43);
    color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    background-color: rgb(61, 17, 149);
    color: aqua;
    border-color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    width: 8rem;
    height: 3rem;
    border-radius: 30px;
    position: fixed;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, 50%);
    transition: border-color ease-out 0.5s, color ease-out 0.3s;
    cursor: pointer;
}

input[type="checkbox"] {
    border-radius: 0.8rem;
    background-color: aqua;
}

button:hover {
    border-color: red;
    color: red;
}

.categories {
    font-size: 1.2rem;
    color: palegreen;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 2rem;
    gap: 0.5rem
}

.category {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem
}

.categoryCount {
    font-weight: lighter;
    font-size: 1rem;
    width: 2rem;
    text-align: right;
}

.setup {
    display: flex;
    flex-direction: row;
    gap: 1rem
}

.setup-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.checkBox {
    width: 1.2rem;
    height: 1.2rem;
    padding: 0.2rem;
    background: azure;
    display: flex;
    text-align: right;
    align-items: flex-end;
    justify-content: flex-end;
}

.maxQuestionCount {
    display: block;
    color: blueviolet;
    border-radius: 20px;
    text-align: left;
    width: 100%
}

datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    width: 30%;
}

option {
    padding: 0;
    transform: rotate(270deg);
    font-size: small
}

input[type="range"] {
    width: 30%;
    max-width: 150%;
    margin: 0;
    display: flex;
    color: blueviolet;
    overflow: hidden;
    background-color: blueviolet;
}

.checkAll {
    /* transform: translate(648%, -500%); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-color: brown;
    border-width: 5px;
    border-style: dotted;
    border-radius: 20px;
    text-align: center;
    padding: 0.5rem;

}

.checkAllBox {
    width: 2.6rem;
    height: 2.6rem;
    padding: 1rem;
    margin-top: 5px;
    margin-bottom: 5px;
}


#welcome {
    font-size: larger;
    color: blueviolet;
    font-size: 3rem;
    margin: 1rem
}

#howManyQuestionsCount {
    margin: 0px;
    font-size: 200%;
}

p {
    margin: 0px;
    font-size: 25px;
}

#slide {
    display: flex;
    flex-direction: column;
    text-align: left;

}

#slide input {
    width: 80%;
}

#details {
    width: 80%;
}

#question {
    position: relative;
    width: 80%;
    transition: color, ease-out 0.5s, color ease-out 0.3s;
    margin-bottom: 1rem;
    font-size: 2rem;
    margin-top: 3rem;
}

#explanation {
    color: blueviolet;
    position: relative;
    width: 100%;
}

textarea {
    width: 80%;
    height: 40dvh;
    min-height: fit-content;
    max-height: 30dvh;
    margin-bottom: 30px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(61, 17, 149);
    font-weight: bold;
    font-size: large;
    text-align: center;
    border-radius: 30px;
}

#yourAnswer {
    border-radius: 30px;
    border-color: blueviolet;
    color: aqua;
    border-style: dotted;
    border-width: 5px;
    display: inline-block;
    position: relative;
    padding: 20px;
    transform: translate(-50%, 0%);
    /* left: 25%; */
    text-align: right;
    width: 35%;
}

#answersSoFar {
    border-radius: 30px;
    border-color: aqua;
    color: blueviolet;
    border-style: dotted;
    border-width: 5px;
    display: block;
    position: relative;
    padding: 20px;
    transform: translate(-50%, 0%);
    left: 70%;
    text-align: left;
    width: 35%;
    margin-bottom: 20px
}

#yesOrNo {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 7rem;
    margin-top: 1rem;
    font-size: 1.5rem;
}

#answerTitle {
    color: blueviolet
}

.answerName {
    color: aqua
}

#yes {
    position: relative;
    transform: translate(-110%, 50%);
}

#no {
    position: relative;
    transform: translate(10%, -50%);
}

.info {
    border-radius: 50%;
    height: calc(7rem + 1dvh);
    width: calc(7rem + 1dvw);
    position: fixed;
    background-color: blueviolet;
    padding: 1rem;
    border-color: rgb(255, 0, 0);
    border-width: 6px;
    right: 5%;
    bottom: 3%;
    transition: color, background-color, ease-out 0.5s, color ease-out 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info:hover {
    background-color: aqua;
    color: blueviolet;
}

#answersSoFar {
    width: 80%;
    transform: translate(0%, 0%);
    left: 0%
}

.answersList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.qinf {
    left: 5%;
}

.qinf h1 {
    font-size: 3rem;
}

.endLeft {
    transform: translate(50%, -150%);
}

.endRight {
    transform: translate(-50%, -150%);
}

#endScreen {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 270%);
}

.textChange {
    transition: color, ease-out 0.5s, color ease-out 0.3s;
    margin: 0
}

.textChange:hover {
    color: blueviolet
}


/* Small screens (e.g., mobile devices, less than 768px) */
@media screen and (max-width: 767px) {
    body {
        font-size: 1rem;
    }

    #answersSoFar {
        width: 80%;
        transform: translate(0%, 0%);
        left: 0%
    }

    .answer {
        bottom: 10%;
        height: 4rem
    }

    .answersList {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* margin-top: -6rem; */
    }

    #question {
        font-size: 1.5rem;
        margin-top: 1rem
    }

    #chooseThemes {
        font-size: calc(0.5rem + 3dvw);
    }

    #explanation {
        font-size: 0.8rem;
    }

    textarea {
        height: 25dvh
    }

    .info {
        /* position: relative; */
        bottom: 12%;
    }

    #yesOrNo {
        font-size: 1.5rem;
        width: 80%;
        margin-bottom: 0;
    }

    #yes {
        display: inline;
        position: relative;
        transform: translate(-110%, 50%);
        font-size: 1.5rem;
        height: 6rem;
    }

    #no {
        display: inline;
        position: relative;
        transform: translate(10%, -50%);
        height: 6rem;
        font-size: 1.5rem;
    }

    .info h1 {
        font-size: 2rem;
    }

    .info h2 {
        font-size: 2rem;
    }

    .info p {
        font-size: 1rem;
    }

    .checkAll {
        font-size: 1rem;
        width: 30dvw;
        padding: 0.2rem;
        border: none
    }

    .setup-right {
        align-items: center;
    }

    .checkBox {
        min-width: 1.5rem;
        height: 1.5rem;
    }

    button {
        bottom: 5%
    }

    .maxQuestionCount {
        text-align: center;
        font-size: calc(0.5rem + 3dvw);
    }

    #slide {
        align-items: center;
        margin-bottom: 5rem;
        font-size: calc(0.5rem + 3dvw);
        width: 90dvw;
        gap: 0.2rem
    }

    .category {
        font-size: calc(0.4rem + 3dvw);
        gap: 1rem;
        text-align: right;
    }

    .setup {
        gap: 0.2rem
    }

    .categories {
        padding: 0;
        margin: 0.3rem
    }

    #slide div {
        font-size: calc(1rem + 3dvw);
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin: 0.2rem
    }

    #slide p {
        font-size: calc(0.5rem + 3dvw);
        margin: 0.3rem
    }

    #welcome {
        font-size: calc(0.5rem + 3dvw);
    }

    #setup {
        flex-direction: column;
    }

    #endScreen {
        transform: translate(-50%, 250%);
        font-size: calc(1rem + 3dvw);;
    }

    .info {
        height: 100px;
        width: 100px;
        transform: translate(-40%, 10%);
        position: relative;
    }

    .qinf {
        transform: translate(40%, -90%);
    }

    .endLeft {
        transform: translate(60%, 100%);
    }
    .endRight {
        transform: translate(-60%, 200%);
    }

}